body {
    font-family: Arial, sans-serif;
}

.form-container {
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.form-field {
    margin-bottom: 15px;
}

.btn-submit {
    background-color: #4CAF50;
    color: white ;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #45a049;
}

.output {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    word-wrap: break-word; /* Ensures words break to fit within the container */
}